@mixin flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #e5e5e5;
  font-family: "montserrat", sans-serif;
  background: linear-gradient(269.44deg, #264653 -3.5%, #2a9d8f 174.84%);
  position: relative;
  overflow: hidden;
}
header {
  background-color: #1a2c33;
  height: 10vh;
  nav {
    @include flex();
    padding: 0 10% 0 10%;
    height: inherit;
    .logo {
      flex: 3;

      img {
        height: 6vh;
      }
    }

    .nav-links {
      @include flex();
      flex: 1;
      list-style: none;
      li,
      a {
        text-decoration: none;
        color: #e5e5e5;
        font-size: 1.3rem;
      }
    }
  }
}
section {
  max-height: 90vh;
  margin-left: 10vw;
  .right-side {
    .para {
      height: 40vh;
      @include flex();
      justify-content: start;
      align-items: flex-end;
    }
    h1,
    h3 {
      margin-right: 2vh;
      font-weight: 600;
    }
    h1 {
      color: #e9c46a;
      font-size: 4rem;
    }
    h3 {
      font-weight: bold;
      font-size: 3rem;
    }
    p {
      margin-top: 5vh;
      font-size: 1.4rem;
    }
  }
  .cta-btn {
    margin-top: 15vh;
    padding: 2vh 10vh;
    background-color: #e9c46a;
    border-radius: 0.4rem;
    color: #1a2c33;
    font-weight: 600;
    font-size: 1rem;
    font-family: "montserrat", sans-serif;
    // clip-path: inset(10%, 50%);
  }
}

.circle1,
.circle2 {
  position: absolute;
}
.circle1 {
  right: 0;
  top: 20%;
  z-index: -1;
  img {
    height: 85vh;
  }
}
.circle2 {
  right: 15%;
  top: 75%;
  opacity: 0.9;
  img {
    height: 45.5vh;
  }
}
